{% extends "base.html" %}


{% block breadcrumbs %}
    <li>
        <i class="ace-icon fa fa-suitcase"></i>
        <a href="{% url 'alumnos:list-alumnos' %}">Lista de Alumn@s</a>
    </li>
    <li class="active">Detalle del Alumn@</li>

{% endblock %}

{% block page_header_1 %}Alumn@s{% endblock %}
{% block page_header_2 %}{{ object.get_nombre_completo }}{% endblock %}


{% block contenido %}

    <div class="row">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">{{ object }} ({{ object.nie }})</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-1">
                            {{ object.foto_html }}
                        </div>
                        <div class="col-sm-5">
                            <ul>
                                <li>Nombre de usuario: <b>{{ object.get_nombre_completo }}</b></li>
                                <li>Nombre: <b>{{ object.nombre }}</b></li>
                                <li>Apellidos: <b>{{ object.apellidos }}</b></li>
                                <li>D.N.I.: <b>{{ object.dni }}</b></li>
                                <li>Fec.Nac.: <b>{{ object.fecha_nacimiento }}</b></li>
                                <li>Edad: <b>{{ object.edad }}</b></li>
                                <li>E-mail: <b>{{ object.email }}</b></li>
                                <li>Usuario Rayuela: <b>{{ object.usuario_rayuela }}</b></li>
                                <li>Alta en el sistema: <b>{{ object.created }}</b></li>
                                <li>Grupos y tutores:
                                    <ul>
                                        {% for grupo in status.get_grupos %}
                                            <li>
                                                 <a href="{% url 'grupos:detail-grupo' grupo.curso_grupo.id %}">
                                                     <b>{{ grupo.curso_grupo.grupo }}</b></a> -
                                                {% if grupo.curso_grupo.tutor %}<b>
                                                 <a href="{% url 'users:detail-profesor' grupo.curso_grupo.tutor.profesor.username %}">

                                                        {{ grupo.curso_grupo.tutor.profesor }}
                                                        {% else %}Sin Asignar tutoría{% endif %}</b>
                                                 </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul>
                                <li>Dirección: <b>{{ object.direccion }}</b></li>
                                <li>Localidad: <b>{{ object.localidad }}</b></li>
                                <li>C.P.: <b>{{ object.codigo_postal }}</b></li>
                                <li>Provincia: <b>{{ object.provincia }}</b></li>
                                <li>Tfno.: <b>{{ object.telefono }}</b></li>
                                <li>Expediente: <b>{{ object.expediente }}</b></li>
                                <li>Tutores legales:
                                    <ul>
                                        {% for tutor in object.tutores.all %}
                                            <li><a href="{% url 'alumnos:detail-tutor' tutor.dni %}"><b>{{ tutor }}</b></a></li>
                                            <ul>
                                                {% if tutor.telefono1 %}
                                                <li>
                                                    <b>{{ tutor.telefono1 }}</b>
                                                </li>
                                                {% endif %}
                                                {% if tutor.telefono2 %}
                                                <li>
                                                    <b>{{ tutor.telefono2 }}</b>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        {% endfor %}
                                    </ul>
                                </li>


                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

