{% extends "base.html" %}


{% block breadcrumbs %}
    <li class="active">Lista de Alumn@s</li>
{% endblock %}


{% block page_header_1 %}Alumn@s{% endblock %}
{% block page_header_2 %}Lista de alumn@s{% endblock %}

{% block search %}
    {% url 'grupos:list-alumnos' as url %}
    {% include "componentes/search.html" with url=url cadena=request.GET.q %}
{% endblock search %}

{% block contenido %}
    <table id="simple-table" class="table  table-bordered table-hover">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Alumn@</th>
                <th>Edad</th>
                <th>Teléfonos</th>
            </tr>
        </thead>
		<tbody>


            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'alumnos:list-alumnos' %}{% if request.GET.q %}?q={{ request.GET.q }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                        <span class="page-current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{% url 'alumnos:list-alumnos' %}{% if request.GET.q %}?q={{ request.GET.q }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}



            {% for alumno in object_list %}
                <tr>
                    <td>
                        {{ alumno.alumno.foto_html }}
                    </td>
    				<td>
                        <a href="{% url 'alumnos:detail-alumno' alumno.alumno.nie %}">{{ alumno.alumno }}</a>
					</td>
    				<td>
                        {{ alumno.edad }}
					</td>
    				<td>
                        <strong>{{ alumno.alumno.telefono }}</strong>
					</td>
				</tr>
            {% endfor %}
		</tbody>
	</table>
{% endblock %}

