{% extends "base.html" %}


{% block breadcrumbs %}
    <li class="active">Lista de Tutores Legales</li>
{% endblock %}


{% block page_header_1 %}Tutores Legales{% endblock %}
{% block page_header_2 %}Lista de tutores legales{% endblock %}

{% block search %}
    {% url 'grupos:list-tutores' as url %}
    {% include "componentes/search.html" with url=url cadena=request.GET.q %}
{% endblock search %}

{% block contenido %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'alumnos:list-tutores' %}{% if request.GET.q %}?q={{ request.GET.q }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'alumnos:list-tutores' %}{% if request.GET.q %}?q={{ request.GET.q }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endif %}



    <table id="simple-table" class="table  table-bordered table-hover">
        <thead>
            <tr>
                <th>Fotografía</th>
                <th>Tutor Legal</th>
            </tr>
        </thead>
		<tbody>
            {% for tutor in object_list %}
                <tr>
                    <td>
                        {{ tutor.foto_html }}
                    </td>

                    <td>
                        <a href="{% url 'alumnos:detail-tutor' tutor.dni %}"><b>{{ tutor }}</b></a>
                    </td>
				</tr>
            {% endfor %}
		</tbody>
	</table>
{% endblock %}

