{% extends "base.html" %}


{% block breadcrumbs %}
    <li>
        <i class="ace-icon fa fa-suitcase"></i>
        <a href="{% url 'alumnos:list-tutores' %}">Lista de Tutor@s</a>
    </li>
    <li class="active">Detalle del Tutor/a</li>

{% endblock %}

{% block page_header_1 %}Tutores Legales{% endblock %}
{% block page_header_2 %}{{ object.get_nombre_completo }}{% endblock %}


{% block contenido %}

    <div class="row">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">{{ object }} ({{ object.dni }})</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-1">
                            {{ object.foto_html }}
                        </div>
                        <div class="col-sm-5">
                            <ul>
                                <li>Nombre de usuario: <b>{{ object.get_nombre_completo }}</b></li>
                                <li>Nombre: <b>{{ object.nombre }}</b></li>
                                <li>Apellidos: <b>{{ object.apellidos }}</b></li>
                                <li>D.N.I.: <b>{{ object.dni }}</b></li>
                                <li>E-mail: <b>{{ object.email }}</b></li>
                                <li>Alta en el sistema: <b>{{ object.created }}</b></li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul>
                                <li>Dirección: <b>{{ object.domicilio }}</b></li>
                                <li>Localidad: <b>{{ object.municipio }}</b></li>
                                <li>C.P.: <b>{{ object.codigo_postal }}</b></li>
                                <li>Provincia: <b>{{ object.provincia }}</b></li>
                                <li>Teléfono 1: <b>{{ object.telefono1 }}</b></li>
                                <li>Teléfono 2: <b>{{ object.telefono2 }}</b></li>
                                <li>Hij@s:
                                    <ul>
                                        {% for alumno in object.alumnos.all %}
                                            <li><a href="{% url 'alumnos:detail-alumno' alumno.nie %}"><b>{{ alumno }}</b></a></li>
                                        {% endfor %}
                                    </ul>
                                </li>


                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

