{% load staticfiles %}

        <div id="sidebar" class="sidebar responsive ace-save-state">
            <script type="text/javascript">
                try{ace.settings.loadState('sidebar')}catch(e){}
            </script>

            <ul class="nav nav-list">
                <li class="">
                    <a href="{% url 'home' %}" >
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-text"> Inicio </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-group"></i>
                        <span class="menu-text">
                            Centro
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a data-url="/alumnos/alumnos" href="#/alumnos/alumnos">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Alumnado
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a data-url="/users/profesores" href="#/users/profesores">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Profesorado
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a data-url="/grupos/grupos" href="#/grupos/grupos">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Grupos
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a data-url="/departamentos/departamentos" href="#/departamentos/departamentos">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Departamentos
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a data-url="/alumnos/tutores" href="#/alumnos/tutores">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Tutores Legales
                            </a>

                            <b class="arrow"></b>
                        </li>


                    </ul>
                </li>




{% if request.session.esResponsable or request.session.esAdministrativo %}
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-book"></i>
                        <span class="menu-text">
                            Becas Libros
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">

                        <li>

                           <a data-url="/libros/libros" href="#/libros/libros">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Libros
                            </a>

                            <b class="arrow"></b>

                        </li>


                        <li class="">

                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Préstamos

                                <b class="arrow fa fa-angle-down"></b>

                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a data-url="/libros/prestamos/manual" href="#/libros/prestamos/manual">
                                        <i class="menu-icon fa fa-hand-paper-o blue"></i>
                                        Manual
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a data-url="/libros/prestamos/automatica" href="#/libros/prestamos/automatica">
                                        <i class="menu-icon fa fa-feed blue"></i>
                                        Lector CB
                                    </a>

                                    <b class="arrow"></b>
                                </li>

							</ul>
                        </li>
                    </ul>
                </li>
{% endif %}







            </ul><!-- /.nav-list -->

            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
        </div>
