<form method="post" action="{% url 'grupos:alumno_create' %}" class="js-alumno-create-form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Crear nuevo alumn@</h4>
  </div>
  <div class="modal-body">

    {% include 'partials/alumnos/partial_alumno_form.html' %}

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Crear alumn@</button>
  </div>
</form>
