{% extends "base.html" %}

{% block page_header_1 %}Inicio{% endblock %}
{% block page_header_2 %}Acerca de{% endblock %}


{% block contenido %}
    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title smaller">Acerca de</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
