{% extends "base.html" %}


{% block breadcrumbs %}
    <li class="active">Lista de Profesor@s</li>
{% endblock %}


{% block page_header_1 %}Profesor@s{% endblock %}
{% block page_header_2 %}Lista de profesor@s{% endblock %}

{% block search %}
    {% url 'users:list-profesores' as url %}
    {% include "componentes/search.html" with url=url cadena=request.GET.q %}
{% endblock search %}

{% block contenido %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'users:list-profesores' %}{% if request.GET.q %}?q={{ request.GET.q }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'users:list-profesores' %}{% if request.GET.q %}?q={{ request.GET.q }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endif %}



    <table id="simple-table" class="table  table-bordered table-hover">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Profesor/a</th>
                <th>Teléfono</th>
            </tr>
        </thead>
		<tbody>
            {% for profesor in object_list %}
                <tr>
                    <td>
                        {{ profesor.profesor.foto_html }}
                    </td>
    				<td>
                         <a href="{% url 'users:detail-profesor' profesor.profesor.username %}">{{ profesor.profesor }}</a>
					</td>
                    <td>
                        {{ profesor.profesor.telefono }}
                    </td>
				</tr>
            {% endfor %}
		</tbody>
	</table>
{% endblock %}

