{% extends "acebase.html" %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
    <li>
        <i class="ace-icon fa fa-user"></i>
        <a href="{% url 'users:list' %}">Lista de Usuari@s</a>
    </li>
    <li class="active">Actualizar usuari@: {{  object.get_full_name }}</li>
{% endblock %}

{% block page_header_1 %}Usuari@s{% endblock %}
{% block page_header_2 %}Actualizar usuari@: {{ object.get_full_name }}{% endblock %}


{% block contenido %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
