{% extends "acebase.html" %}


{% block breadcrumbs %}
    <li class="active">Lista de Usuari@s</li>
{% endblock %}


{% block page_header_1 %}Usuari@s{% endblock %}
{% block page_header_2 %}Lista de usuari@s{% endblock %}


{% block contenido %}
    <div class="container">
      <h2>Usuari@s</h2>

      <div class="list-group">
        {% for user in user_list %}
          <a href="{% url 'users:detail' user.username %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ user }}</h4>
          </a>
        {% endfor %}
      </div>
    </div>
{% endblock %}

