{% extends "acebase.html" %}


{% block breadcrumbs %}
    <li>
        <i class="ace-icon fa fa-user"></i>
        <a href="{% url 'users:list' %}">Lista de Usuari@s</a>
    </li>
    <li class="active">{{  object.get_full_name }}</li>
{% endblock %}

{% block page_header_1 %}Usuari@s{% endblock %}
{% block page_header_2 %}{{ object.get_full_name }}{% endblock %}


{% block contenido %}

    {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">

      <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
        <a class="btn btn-primary" href="#" role="button">E-Mail</a>
        <!-- Your Stuff: Custom user template urls -->
      </div>

    </div>
    <!-- End Action buttons -->
    {% endif %}


    <div class="row">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">{{ object }} ({{ object.username }})</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-1">
                            {{ object.foto_html }}
                        </div>
                        <div class="col-sm-5">
                            <ul>
                                <li>Nombre de usuario: <b>{{ object.username }}</b></li>
                                <li>Nombre: <b>{{ object.first_name }}</b></li>
                                <li>Apellidos: <b>{{ object.last_name }}</b></li>
                                <li>D.N.I.: <b>{{ object.dni }}</b></li>
                                <li>E-mail: <b>{{ object.email }}</b></li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                                <li>¿Es usuario de Rayuela?: <b>{% if object.es_usuario %}Si{% else %}No{% endif %}</b></li>
                                <li>Usuario Rayuela: <b>{{ object.usuario_rayuela }}</b></li>
                                <li>Id. Rayuela: <b>{{ object.id_usuario }}</b></li>
                                <li>Alta en el sistema: <b>{{ object.date_joined }}</b></li>
                                <li>Último login: <b>{{ object.last_login }}</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
















{% endblock %}

