/* admin User*/
.field-is_superuser, .field-name, .field-username, .field-last_name, .field-first_name, .action-checkbox {
  vertical-align: middle;
}

/* alumnos*/
.field-nie, .field-apellidos, .field-nombre, .field-fecha_nacimiento, .field-first_name, .field-edad, .action-checkbox {
  vertical-align: middle;
}

/* admin Configies*/
.field-codigo_centro, .field-nombre_centro, .field-curso_defecto {
  vertical-align: middle;
}

/* admin CursoAlumno, CursoProfesor, CursoGrupoAlumno y CursoGrupoProfesor */
.field-curso_link, .field-alumno_link, .field-id, .field-alumno, .field-grupo_link, .field-curso_grupo_link,
.field-curso, .field-curso_alumno_link, .field-curso_grupo, .field-curso_alumno, .field-profesor, .field-profesor_link,
.field-curso_profesor_link, .field-curso_departamento_link {
  vertical-align: middle;
}

/* tutores legales*/
.field-dni {
  vertical-align: middle;
}
