/* admin User*/
.field-is_superuser, .field-name, .field-username, .field-last_name, .field-first_name, .action-checkbox {
  vertical-align: middle;
}

/* alumnos*/
.field-nie, .field-apellidos, .field-nombre, .field-fecha_nacimiento, .field-first_name, .action-checkbox {
  vertical-align: middle;
}

/* admin Configies*/
.field-codigo_centro, .field-nombre_centro, .field-curso_defecto {
  vertical-align: middle;
}

/* admin CursoGrupoAlumno y CursoGrupoProfesor */
.field-curso_grupo, .field-alumno, .field-profesor {
  vertical-align: middle;
}

/* tutores legales*/
.field-dni {
  vertical-align: middle;
}
