{% extends "base.html" %}


{% block breadcrumbs %}
    <li>
        <i class="ace-icon fa fa-suitcase"></i>
        <a href="{% url 'departamentos:list-departamentos' %}">Lista de Grupos</a>
    </li>
    <li class="active">Detalle del Departamento</li>

{% endblock %}

{% block page_header_1 %}Departamentos{% endblock %}
{% block page_header_2 %}{{ object.departamento }}{% endblock %}


{% block contenido %}

    <div class="row">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">Grupo <b>{{ object.departamento }}</b> Jef@: <b>{% if object.jefe %}
                    {{ object.jefe.profesor }}{% else %}Sin Jefatura Asignada{% endif %}</b></h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul>
                                <li>Profesor@s
                                    <ul>
                                        {% for profesor in  object.profesores.all %}
                                            <li>
                                                <a href="{% url 'users:detail-profesor' profesor.curso_profesor.profesor.username %}">
                                                    <b>{{ profesor.curso_profesor.profesor }}</b></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

